/* Фоновое изобрежение */
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  /* background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%); */
  background-image: linear-gradient(-60deg, #E9F4FF 50%,#4C51C6 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}


.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*---------------------------*/


/* ШАПКА САЙТА */

#headers {
	position: absolute;
	display: flex;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	justify-content: left;
}

#headers_text {
	margin-top: 10px;
	margin-left: 2%;
	color: #fff;
	font-family: Verdana;
	font-weight: bold;
	font-size: 3.9vw;
	line-height: 40px;
}


/*---------------------------*/


/* Главное меню с кнопками */
#MainBlock {
	margin-top: 12em;
}

#MainBlock div {
	background-color: none;
	border-radius: 25px;
	width: 70%;
	margin-top: 25px;
	color: white;
	cursor: pointer;
	margin-right: 3%;
	border-radius: 25px;
	border: 10px solid #E38F3E;
	background-color: #E38F3E; 
	transition: 0.1s;
	font-family: Verdana;
	font-weight: bold;
	font-size: 3.5vw;
}

#MainBlock div:hover {
	text-decoration: none;
	cursor: pointer;
	border-width: 15px;
	transform: translate(0, -2px);
}

/* --------------------- */


/* Меню версии (информация) */

/* Кнопка "назад" */
#Button_setting_back_on_mainMenu {
	position: absolute;
	display: flex;
	left: 7.5vw;
	top: 14vw;
	font-size: 3.3vw;
	width: 20vw;
	font-family: sans-serif;
	height: 5vw;
	border-radius: 25px;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	background-color: #E38F3E;
	color: white;
}

#Button_setting_back_on_mainMenu:hover {
	background-color: white;
	color: #5F5F5F;

}

#MainBlock_info {
	position: absolute;
	background-color: #E38F3E;
	left: 7.5vw;
	top: 21vw;
	width: 85vw;
	height: 17vw;
	justify-content: center;
	align-content: center;
	border-radius: 25px;
}

#text_version{
	font-size: 6vw;
	color: white;
	font-family: Verdana;
	font-weight: bold;
	margin-top: 10px;
}
#all_option_version {
	font-size: 4.5vw;
	color: #EAEAEA;
}

#Menu_info {
	display: none;
}

#MainBlock_info_github {
	position: absolute;
	background-color: #000;
	left: 7.5vw;
	top: 40vw;
	width: 85vw;
	height: 8vw;
	border-radius: 25px;
	cursor: pointer;
}

#text_open_code {
	font-size: 3vw;
	color: white;
	font-family: Verdana;
	font-weight: bold;
	margin-top: 10px;
}

/* ----------------------- */
